#wishlist_root {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 30px;
}
.sum_image_whist_list img {
  width: 70%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
#sub_root_sum {
  width: 100%;
}
#first_div_sum {
  width: 50%;
}
#sum_button :last-child {
  color: red;
}
#sum_prd_heading{
  text-align: initial;
}