#about_us_content{
width: 45%;
margin: auto;
font-size: 18px;
text-align: start;
}
#about_us{
    margin: 20px 0px 0px 0px;
    font-weight: 600;
    font-size:32px;
}
#about_us_heading{
    font-size: 18px; 
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px 0px 0px 0px;
 }