body {
  margin: 0;
  font-family: "Times New Roman", Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,p,h1,h2,h3,h4,h5,h6{
  font-family: "Times New Roman", Times, serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="text"],textarea{
  width: 100%;
  font-size: 16px !important;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 2px;
  padding: 15px 16px 13px;
  box-shadow: none;
}