body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif !important;
}
code {
  font-family: "Source Sans Pro", sans-serif !important;
}
input[type="text"],
textarea {
  width: 100%;
  font-size: 16px !important;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 2px;
  padding: 15px 16px 13px;
  box-shadow: none;
}
button {
  border-radius: 0.25rem !important;
}
.empty-div img{
  width: 20%;
}